.posts-recent {
  @extend %standard-section-padding;

  @media only screen and (min-width: $screen-sm-min) {
    padding: 6rem 0;
  }

  .container {
    @extend %sides-container;
    @extend %container--top-dots;
    @extend %container--bottom-dots;

    text-align: center;

    @media only screen and (min-width: $screen-sm-min) {
      max-width: (104.4rem + $side-margin-desktop * 2);
    }
  }

  .posts {
    margin: 4rem 0;

    // @HACK: Sometimes, WP_Query returns more posts than requested, when there are sticky posts.
    // Read it and weep: https://core.trac.wordpress.org/ticket/27282
    article:nth-of-type(n + 5) {
      display: none;
    }

    @media only screen and (min-width: $screen-md-min) {
      display: flex;
      justify-content: space-between;
    }
  }

  .hentry {
    @media only screen and (min-width: $screen-md-min) {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      width: 25%;
      padding: 0 1rem;
    }
  }

  .hentry header {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
  }

  .entry-banner {
    display: flex;
    align-items: stretch;
    height: 17.2rem;
    margin-bottom: 2rem;

    img {
      object-fit: cover;
    }
  }

  .post-category,
  .entry-summary {
    display: none;
  }

  .section-title {
    @extend .tank-font-heading-4;
    color: $tank-orange;
  }

  .entry-title {
    @extend .font-body-1;
    font-weight: 400;
    color: $tank-dark-gray;
  }

  // Date
  .updated {
    @extend .font-heading-6;
    color: $heading-color;
  }
}
