// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  height: auto;
  margin: 0 auto;
}
.alignleft,
.alignright {
  height: auto;
}

@media only screen and (min-width: $screen-sm-min) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
  }
  .alignright {
    float: right;
  }
}

// Captions
.wp-caption {
}
.wp-caption > img {
}
.wp-caption-text {
}
.wp-caption-text {
}

// Text meant only for screen readers
.screen-reader-text {
  @extend .sr-only;
}

.search-form {
  margin: 2rem 0;
}
