.page-template-template-companies {
  .hero {
    background: split-bg-color(#008eda, #00adef);
  }

  // main content wrapper
  .wrap {
    @media only screen and (min-width: $screen-sm-min) {
      min-height: inherit;
    }
  }
}
